footer.footer
    .container
        .row
            .col-12
                h1 Footer


//- .modal.fade(tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true")#orderMaster                                
//-     .modal-dialog(role="document")
//-         .modal-content
//-             .modal-header
//-                 .modal-title Заказать мастер класс
//-                 button(data-dismiss="modal" aria-label="Close").close
//-                     span(aria-hidden="true")
//-             .modal-body
//-                 form.modal-form    
//-                     .form-field
//-                         input(type="text" name="userName" placeholder="Представьтесь, пожалуйста").form-input 
//-                     .form-field.form-field_half
//-                         input(type="tel" name="userPhone" placeholder="Телефон").form-input
//-                         input(type="email" name="userMail" placeholder="E-mail").form-input
//-                     .form-field.form-field_half  
//-                         .form-captcha
//-                             img(src="img/captcha.jpg", alt="captcha")
//-                         input(type="submit" value="Отправить").form-field__submit   
//-                     p Нажимая кнопку «Отправить», я согласен на обработку моих персональных данных     

